<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/servico.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Manas</title>
  </head>
  <body>

    <div class="container-fluid">
        <div class="row navbar">
            <div class="col-3">
                <a id="nav-icon" class="navbar-brand" href="/">Manas</a>
            </div>
            <div class="offset-4 col-2">
                <p class="text-body"> <a href="/servicosContratados"> Meus Serviços </a> </p> 
            </div>
            <div class="offset-1 col-2">
                <img src="images/female-avatar.svg" id="female-avatar" class="img-fluid">
            </div>
        </div>

        <div class="row mt-5">
            <% if(servicos.length == 0){ %>
                <div class="col-6 mx-auto my-auto">
                    <img src="images/not-found.png" id="not-found" class="img-fluid">
                </div>
            <% } else { %>
                <% for(servico of servicos) { %>
                    <div class="col-3">
                        <div class="card" style="width: 15rem;">
                            <div class="card-img-top d-flex justify-content-center mt-4">
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-tools icones-servicos" viewBox="0 0 16 16">
                                    <path d="M1 0 0 1l2.2 3.081a1 1 0 0 0 .815.419h.07a1 1 0 0 1 .708.293l2.675 2.675-2.617 2.654A3.003 3.003 0 0 0 0 13a3 3 0 1 0 5.878-.851l2.654-2.617.968.968-.305.914a1 1 0 0 0 .242 1.023l3.356 3.356a1 1 0 0 0 1.414 0l1.586-1.586a1 1 0 0 0 0-1.414l-3.356-3.356a1 1 0 0 0-1.023-.242L10.5 9.5l-.96-.96 2.68-2.643A3.005 3.005 0 0 0 16 3c0-.269-.035-.53-.102-.777l-2.14 2.141L12 4l-.364-1.757L13.777.102a3 3 0 0 0-3.675 3.68L7.462 6.46 4.793 3.793a1 1 0 0 1-.293-.707v-.071a1 1 0 0 0-.419-.814L1 0zm9.646 10.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708zM3 11l.471.242.529.026.287.445.445.287.026.529L5 13l-.242.471-.026.529-.445.287-.287.445-.529.026L3 15l-.471-.242L2 14.732l-.287-.445L1.268 14l-.026-.529L1 13l.242-.471.026-.529.445-.287.287-.445.529-.026L3 11z"/>
                                </svg>
                            </div>
                            <div class="card-body d-flex justify-content-center pb-0">
                                <h5 class="card-title"> <%= servico.serviceName %> </h5>
                            </div>
                            <div class="card-body">
                                <p> <%= servico.personName %> </p>
                                <p> <%= servico.city %> - <%= servico.state %> </p>
                            </div>
                            <div class="d-flex justify-content-center mb-3">
                                <a href="#" class="btn btn-primary botao-servicos" data-toggle="modal" data-target="#modalDetalhes<%=servico.idServiceProviderHasService%>"> Detalhes </a>
                            </div>
                        </div>
                    </div>
                <% } %>
            <% } %>
        </div>
    </div>

    <% for(servico of servicos) { %>
        <!-- Modais -->
        <!-- Modal Detalhes -->
        <div class="modal fade" id="modalDetalhes<%=servico.idServiceProviderHasService%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Detalhes</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">                    
                    <form class="ml-5">
                        <div class="form-row">
                          <div class="form-group col-6">
                            <label for="nomeServico"> <strong> Serviço </strong> </label>
                            <p> <%=servico.serviceName%> </p>
                            <p> <%=servico.personName%> </p>
                            <p> <%= servico.city %> - <%= servico.state %> </p>
                          </div>
                          <div class="form-group col-6">
                            <label for="categoria"> <strong> Contato </strong></label>
                            <p> <%= servico.telephone %> </p>
                            <a href="https://manas-chat-front.herokuapp.com/?userName=<%=name%>&roomId=<%=idPerson%><%=servico.idPerson%>"> <button type="button" class="btn mt-3 botao-modal-verde">Iniciar Conversa </button> </a> 
                          </div>
                        </div>  
                        <div class="form-group col-12 p-0">
                          <label for="nome"> <strong> Valor médio </strong></label>
                          <p> <%=servico.price%> </p>
                        </div>
                        <div class="form-group">
                          <label for="descricao"> <strong> Descrição </strong></label>
                          <p> <%=servico.description%> </p>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn botao-modal-vermelho" data-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn botao-modal-verde" data-toggle="modal" data-target="#modalAvaliacoes<%=servico.idServiceProviderHasService%>"> Fazer Avaliação </button>
                </div>
            </div>
            </div>
        </div>

        <div class="modal fade" id="modalAvaliacoes<%=servico.idServiceProviderHasService%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"> Fazer Avaliação </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <form class="ml-5" action="/avaliar" method="post">
                        <div class="form-group">
                            <label for="exampleFormControlSelect1"> Nota </label>
                            <select class="form-control" id="exampleFormControlSelect1" name="grade">
                              <option>1</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                              <option>5</option>
                            </select>
                          </div>
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1"> Comentário </label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="comment"></textarea>
                        </div>
                        <input type="hidden" name="idServiceProvider" value="<%=servico.idPerson%>">
                        <input type="hidden" name="idServiceProviderHasService" value="<%=servico.idServiceProviderHasService%>">

                        <div class="modal-footer">
                            <button type="button" class="btn botao-modal-vermelho" data-dismiss="modal">Fechar</button>
                            <button type="submit" class="btn botao-modal-verde"> Postar Avaliação </button>
                        </div>
                    </form>
                </div>
            </div>
            </div>
        </div>
    <% } %>

    <!-- Modal Feedback -->
    <div class="modal fade" id="modal-feedback" tabindex="-1" role="dialog" aria-labelledby="modal-feedback" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="modal-feedback-titulo"> Aviso </h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
  
              <div class="modal-body">        
                  <div class="row justify-content-center">
                      <div class="col-lg-8"> 
                          <div class="row">
                              <div class="col-12">
                                  <input id="feedbacks" type="hidden" value="<%= feedback %>">
                                  <p id="mensagemFeedback" class="texto"> </p>
                              </div>
                          </div>
                          <div class="modal-footer">
                              <button type="button" class="btn botao-modal-vermelho" data-dismiss="modal"> Fechar </button>
                          </div>
                      </div>
                  </div>            
              </div>
          </div>
        </div>
      </div>

    <!-- JavaScript (Opcional) -->
    <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="javascripts/getQueryParam.js"></script>
    <script type="text/javascript" src="javascripts/feedback.js"></script>
</body>
</html>